# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/

# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# Local Data
data/

# Testing
.pytest_cache/
htmlcov/

# Logs
*.log

# macOS
.DS_Store

# Spark
metastore_db/
derby.log
spark-warehouse/
