# Alpha Vantage
ALPHA_VANTAGE_API_KEY=your_alpha_vantage_api_key_here

# YouTube Data API
YOUTUBE_API_KEY=your_youtube_api_key_here

# Confluent Cloud Kafka
KAFKA_BOOTSTRAP_SERVERS=your_kafka_bootstrap_servers_here
KAFKA_SASL_USERNAME=your_kafka_sasl_username_here
KAFKA_SASL_PASSWORD=your_kafka_sasl_password_here

# Environment
NODE_ENV=development

KAFKA_CLIENT_ID=your_kafka_client_id_here

# AWS Secrets
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your_aws_access_key_id_here
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key_here
S3_BUCKET_NAME=your_s3_bucket_name_here

# Required connection configs for Kafka producer, consumer, and admin
bootstrap.servers=your_bootstrap_servers_here
security.protocol=SASL_SSL
sasl.mechanisms=PLAIN
sasl.username=your_sasl_username_here
sasl.password=your_sasl_password_here

# Best practice for higher availability in librdkafka clients prior to 1.7
session.timeout.ms=45000

client.id=your_client_id_here
